<!DOCTYPE html>
<html lang="en">

<head>
    <!-- This project does not need any metadata, as far as I know -->
    <!-- ATSs may scrape from it, but I don't know ... -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=V, initial-scale=1.0">

    <!-- CSS-->
    {{ $style := resources.Get "scss/style.scss" | toCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <title>Derek Barnes Resume</title>
</head>


<body>
    {{ partial "head.html" . }}
    {{ if .Site.Data.summary.use_summary }}     {{ partial "summary.html" . }}          {{ end }}
    {{ if .Site.Data.contrib.use_contrib }}     {{ partial "contrib.html" . }}          {{ end }}
    {{ if .Site.Data.skills.use_skills }}       {{ partial "skills.html" . }}           {{ end }}
    {{ if .Site.Data.projects.use_projects }}   {{ partial "projects.html" . }}         {{ end }}

    <section id='work_exp' >
        <h2>Experience And Accomplishments</h2>
        {{ if .Site.Data.acc.use_lebook }}      {{ partial "acc/lebook.html" . }}       {{ end }}
        {{ if .Site.Data.acc.use_helpertech }}  {{ partial "acc/helpertech.html" . }}   {{ end }}
        {{ if .Site.Data.acc.use_thg }}         {{ partial "acc/thg.html" . }}          {{ end }}
        {{ if .Site.Data.acc.use_vera }}        {{ partial "acc/vera.html" . }}         {{ end }} 
        {{ if .Site.Data.acc.use_kenzie }}      {{ partial "acc/kenzie.html" . }}       {{ end }} 
    </section>

    {{ partial "edu.html" . }}

</body>
</html>
