<section id='education' >
    <h2>Education</h2>

    <div>
        <p>{{ .Site.Data.edu.kenzie.name }} - {{ .Site.Data.edu.kenzie.degree}}</p>
        <p>{{ .Site.Data.edu.kenzie.start }} - {{ .Site.Data.edu.kenzie.end}}</p>
    </div>

    <div>
        <p>{{ .Site.Data.edu.wgu.name }} - {{ .Site.Data.edu.wgu.degree}}</p>
        <p>{{ .Site.Data.edu.wgu.start }} - {{ .Site.Data.edu.wgu.end}}</p>
    </div>

    <div>
        <p>{{ .Site.Data.edu.bsu.name }} - {{ .Site.Data.edu.bsu.degree}}</p>
        <p>{{ .Site.Data.edu.bsu.start }} - {{ .Site.Data.edu.bsu.end}}</p>
    </div>
</section>